__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
logs/
*.tmp
*.temp
*.pfx
*.pdf
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.git/
.gitignore

